html,body{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    height: 100vh;
}

.card{
    background-color: white;
    padding: 10px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    padding: 10px;
    color: rgb(30, 13, 105); 
}

h2{
    font-size: 1rem;
    padding: 10px;
    color: black;
    
}

.btn{
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    margin: 5px 20px 15px;
    color: rgb(23, 23, 58);
}

.btn:hover{
    opacity: 0.7;
}