html,body{
    margin:0;
    padding: 0;
    background-color: darkslateblue;
}

main{
    margin: 0;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.headerBtn{
    display: flex; 
    margin: 30px;  
    justify-content: right;
}


.card{
    background-color: white;
    padding: 10px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    padding: 10px;
    color: rgb(30, 13, 105); 
}

h2{
    font-size: 1.1rem;
    padding: 10px;
    color: rgb(30, 13, 105); 
    
}

.btn{
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    margin: 5px 20px 15px;
    color: rgb(23, 23, 58);
    
}

.btn:hover{
    color: red;
    background-color: rgb(227, 227, 233);
}

.error{
    background-color: rgb(233, 224, 224);
    padding: 10px;
    color: red;
    font-size: 1.5rem;
    border: 1px solid rgb(216, 34, 34);
    border-radius: 10px;
}

.triunfo{
    background-color: rgb(224, 243, 235);
    padding: 10px;
    color: green;
    font-size: 1.5rem;
    border: 1px solid rgb(5, 43, 5);
    border-radius: 10px;
}

.win{
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.gamer{
    padding: 10px;
    border-radius: 10px; 
}

.boton{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.boton:hover{
    color: red;
    background-color: rgb(227, 227, 233);
}


.terminar{
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}